<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Request Header Parser API</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
    <style type="text/css">
        body {
            font-family: 'Roboto Condensed', sans-serif;
            text-align: center;
            background-color: #DDDDDD;
            color: #212d40;
        }
        .main {
            width: 100%;
        }
        .content {
            width: 80%;
            margin: 0 auto;
        }
        code {
            background-color: #D0F4EA;
        }
    </style>
</head>
<body>
    <div class="main">
        <div class="content">
            <h1>Request Header Parser API</h1>
            <p>Go to <code>/api/whoami</code> in the URL, and this page will provide a JSON object with your IP address, browser language, and operating system.</p>
            <h1>^_^</h1>
        </div>
    </div>
</body>
</html>